html, body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    color: #1D3557;
    text-align: center;

}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* HERO SECTION STYLES */

.hero-section {
    background-image: url("images/MemphisHero.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
}

.hero-section-content {
    width: 500px;
    margin: auto;
    color: #FFFFFF;

}

.hero-section-content img {
    width: 300px;

}

.hero-section-content h2{
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    background-color: #457B9D;
    opacity: .75;
    padding: 5px 12px;
    border-radius: 5px;


}

/* ACTIVITIES SECTION STYLES */


.activites-section {
    background-color: #F1FAEE;


}

.activites-section h2 {
    margin: 0;
    padding-top: 30px;


}

.activities-list {
    display: flex;
    justify-content: space-between;
    padding: 30px;

 
}

.activities {
    text-align: center;
    max-width: 200px;
}

.activities img {
    width: 150px;
    height: 150px;
    border-radius: 50%
}

/* GUIDE SECTION STYLES */

.card{
    width: 500px;
    margin: 30px auto;
    background-color: #A8DADC;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    border-radius: 5px;

}

.card img {
    width: 200px;
    border: 2px solid #FFF;
    box-shadow: 5px 10px;
}

.bio {
    padding: 0 5px 0 25px;
}



